fastapi
uvicorn[standard]
transformers==4.*
sentence_transformers
numpy<2.0
accelerate
protobuf
sentencepiece
requests
passlib[bcrypt]
pymongo
pyPDF2
python-multipart
langchain
langchain-community
langchain-text-splitters
scikit-learn
python-dotenv
passlib
huggingface_hub
tf-keras
torch>=2.2.0
