fastapi
uvicorn[standard]
torch==2.1.*
transformers==4.*
sentence-transformers
numpy<2.0
accelerate
protobuf
sentencepiece
requests
passlib[bcrypt]
pymongo
pypDF2
python-multipart
langchain-community
langchain-text-splitters
scikit-learn
